In [1]:
# TRANSFORM

In [2]:
# Importar pandas y numpy
import pandas as pd
import numpy as np

In [3]:
# Cargar el csv
df = pd.read_csv("BillboardHot100.csv")
print(df.shape)
df.head()

(100, 14)

,top,track_name,track_popularity,duration_ms,artist_name,artist_genres,artist_popularity,feats,explicit,album,type,relase_date,track_id,artist_id
0,1,Ordinary,96,186964,Alex Warren,NaN,90,NaN,False,Ordinary,single,2025-02-07,6qqrTXSdwiJaq8SO0X2lSe,0fTSzq9jAh4c36UVb4V7CB
1,2,What I Want (feat. Tate McRae),75,184517,Morgan Wallen,country,95,Tate McRae,False,I’m The Problem,album,2025-05-16,48NthgcgfoRrWT8LtgW28A,4oUHIQIBe0LHzYfvXNW4QM
2,3,Just In Case,83,166206,Morgan Wallen,country,95,NaN,False,Just In Case,single,2025-03-21,02Ya2Q08bBKFqUJvjmyRXK,4oUHIQIBe0LHzYfvXNW4QM
3,4,A Bar Song (Tipsy),88,171291,Shaboozey,NaN,82,NaN,True,A Bar Song (Tipsy),single,2024-04-12,2FQrifJ1N335Ljm3TjTVVf,3y2cIKLjiOlp1Np37WiUdH
4,5,I'm The Problem,79,177811,Morgan Wallen,country,95,NaN,False,I'm The Problem,single,2025-01-31,3HlWVKwU0JqJXqJK9DWHnZ,4oUHIQIBe0LHzYfvXNW4QM

In [4]:
# Cargar el csv
df = pd.read_csv("top_charts.csv")
print(df.shape)
df.head()

(374, 15)

,top,track_name,track_popularity,duration_ms,artist_name,artist_genres,artist_popularity,feats,explicit,album,type,relase_date,track_id,artist_id,list
0,1,no tiene sentido,93,158036,Beéle,latin afrobeats|reggaeton|pop urbano,93,NaN,False,BORONDO,album,2025-05-15,1HEwEN64NjgTaHmo7LfkX8,7a0XAaPaK2aDSqa8p3QnC7,Los 40 Principales
1,2,Ordinary,96,186964,Alex Warren,NaN,90,NaN,False,Ordinary,single,2025-02-07,6qqrTXSdwiJaq8SO0X2lSe,0fTSzq9jAh4c36UVb4V7CB,Los 40 Principales
2,3,6 DE FEBRERO,75,175584,Aitana,NaN,80,NaN,False,6 DE FEBRERO,single,2025-05-05,2TCUMmklsJTLWHnoU4mSQ4,7eLcDZDYHXZCebtQmVFL25,Los 40 Principales
3,4,blackout 🧊,84,182282,Emilia,argentine trap,80,TINI|Nicki Nicole,False,blackout 🧊,single,2025-03-25,2efbgTtEGNpsUZaOfgRTR6,0AqlFI0tz2DsEoJlKSIiT9,Los 40 Principales
4,5,APT.,94,169917,ROSÉ,k-pop,85,Bruno Mars,False,APT.,single,2024-10-18,5vNRhkKd0yEAg8suGBpjeY,3eVa5w3URK5duf6eyVDbu9,Los 40 Principales

In [5]:
# CAMBIAMOS MILISEGUNDOS A MINUTOS Y SEGUNDOS

In [6]:
df["relase_date"] = pd.to_datetime(df["relase_date"], format='mixed')

In [7]:
# Creamos lista vacia
duracion = []

for duracion_en_milisegundos in df["duration_ms"]:
    minutos = duracion_en_milisegundos // 60000  #1min = 60000 ms
    segundos = (duracion_en_milisegundos % 60000) // 1000  
    tiempo_cambiado = str(minutos) + ":" + str(segundos).zfill(2)  
    duracion.append(tiempo_cambiado)

In [8]:
df["duracion_mins_segs"] = duracion

In [9]:
print(df[["duration_ms", "duracion_mins_segs"]].head())

   duration_ms duracion_mins_segs
0       158036               2:38
1       186964               3:06
2       175584               2:55
3       182282               3:02
4       169917               2:49

In [10]:
# Cambiar fechas

In [11]:
# Mirar que tipo tienen
print(df["relase_date"].head())

0   2025-05-15
1   2025-02-07
2   2025-05-05
3   2025-03-25
4   2024-10-18
Name: relase_date, dtype: datetime64[ns]

In [12]:
# Cambiar a datetime64
df["relase_date"] = pd.to_datetime(df["relase_date"])

In [13]:
# Vemos los cambios
print(df["relase_date"].dtypes)
print(df["relase_date"].head())

datetime64[ns]
0   2025-05-15
1   2025-02-07
2   2025-05-05
3   2025-03-25
4   2024-10-18
Name: relase_date, dtype: datetime64[ns]

In [14]:
# Cambiar los | por comas en los feats

In [15]:
df["track_name"]=df["track_name"].map(lambda x : x.lower())
genres=[]
for genre in df['artist_genres']:
    genres.append(str(genre).split("|"))

df['artist_genres'] = genres

In [16]:
df['feats']=df['feats'].str.replace("|",", ")

In [17]:
print(df.head())

   top        track_name  track_popularity  duration_ms  artist_name  \
0    1  no tiene sentido                93       158036        Beéle
1    2          ordinary                96       186964  Alex Warren
2    3      6 de febrero                75       175584       Aitana
3    4        blackout 🧊                84       182282       Emilia
4    5              apt.                94       169917         ROSÉ

                              artist_genres  artist_popularity  \
0  [latin afrobeats, reggaeton, pop urbano]                 93
1                                     [nan]                 90
2                                     [nan]                 80
3                          [argentine trap]                 80
4                                   [k-pop]                 85

                feats  explicit         album    type relase_date  \
0                 NaN     False       BORONDO   album  2025-05-15
1                 NaN     False      Ordinary  single  2025-02-07
2                 NaN     False  6 DE FEBRERO  single  2025-05-05
3  TINI, Nicki Nicole     False    blackout 🧊  single  2025-03-25
4          Bruno Mars     False          APT.  single  2024-10-18

                 track_id               artist_id                list  \
0  1HEwEN64NjgTaHmo7LfkX8  7a0XAaPaK2aDSqa8p3QnC7  Los 40 Principales
1  6qqrTXSdwiJaq8SO0X2lSe  0fTSzq9jAh4c36UVb4V7CB  Los 40 Principales
2  2TCUMmklsJTLWHnoU4mSQ4  7eLcDZDYHXZCebtQmVFL25  Los 40 Principales
3  2efbgTtEGNpsUZaOfgRTR6  0AqlFI0tz2DsEoJlKSIiT9  Los 40 Principales
4  5vNRhkKd0yEAg8suGBpjeY  3eVa5w3URK5duf6eyVDbu9  Los 40 Principales

  duracion_mins_segs
0               2:38
1               3:06
2               2:55
3               3:02
4               2:49

In [18]:
# CAMBIAMOS LOS NOMBRES

In [19]:
p=['(with','(feat']
for i in p:
    for x in range(len(df)):
        cancion=df.loc[x,'track_name']
        if i in cancion:
            df.loc[x,'track_name']=str(cancion).split('(')[0]

In [20]:
df_exploded=df.explode('artist_genres')
df_exploded

,top,track_name,track_popularity,duration_ms,artist_name,artist_genres,artist_popularity,feats,explicit,album,type,relase_date,track_id,artist_id,list,duracion_mins_segs
0,1,no tiene sentido,93,158036,Beéle,latin afrobeats,93,NaN,False,BORONDO,album,2025-05-15,1HEwEN64NjgTaHmo7LfkX8,7a0XAaPaK2aDSqa8p3QnC7,Los 40 Principales,2:38
0,1,no tiene sentido,93,158036,Beéle,reggaeton,93,NaN,False,BORONDO,album,2025-05-15,1HEwEN64NjgTaHmo7LfkX8,7a0XAaPaK2aDSqa8p3QnC7,Los 40 Principales,2:38
0,1,no tiene sentido,93,158036,Beéle,pop urbano,93,NaN,False,BORONDO,album,2025-05-15,1HEwEN64NjgTaHmo7LfkX8,7a0XAaPaK2aDSqa8p3QnC7,Los 40 Principales,2:38
1,2,ordinary,96,186964,Alex Warren,nan,90,NaN,False,Ordinary,single,2025-02-07,6qqrTXSdwiJaq8SO0X2lSe,0fTSzq9jAh4c36UVb4V7CB,Los 40 Principales,3:06
2,3,6 de febrero,75,175584,Aitana,nan,80,NaN,False,6 DE FEBRERO,single,2025-05-05,2TCUMmklsJTLWHnoU4mSQ4,7eLcDZDYHXZCebtQmVFL25,Los 40 Principales,2:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,96,"better off (alone, pt. iii)",77,151702,Alan Walker,nan,82,"Dash Berlin, Vikkstar",False,Walkerworld,album,2023-11-10,0SML6wWerD0yI2Xd4OUC1R,7vk5e3vY1uw9plTHJAMwjN,Shazam Top 200,2:31
370,97,won't forget you,55,398663,Shouse,nan,69,NaN,False,Won't Forget You,single,2022-02-04,08DprFlcwlc5zny9ErPkHG,2TcGJdSOiOvITBzhvfX8XB,Shazam Top 200,6:38
371,98,desire,74,179161,Calvin Harris,edm,90,Sam Smith,False,Desire (with Sam Smith),single,2023-07-28,22dUzMFttcR3uU17NcOAIv,7CajNmpbOovFoOoasH2HaY,Shazam Top 200,2:59
372,99,one in a million,68,160529,Bebe Rexha,nan,80,David Guetta,False,One in a Million,single,2023-08-04,3YfGTvsTAWGC2lgoDOikUz,64M6ah0SkkRsnPGtGiRAbb,Shazam Top 200,2:40
373,100,apt.,94,169917,ROSÉ,k-pop,85,Bruno Mars,False,APT.,single,2024-10-18,5vNRhkKd0yEAg8suGBpjeY,3eVa5w3URK5duf6eyVDbu9,Shazam Top 200,2:49

In [21]:
# Guardar DataFrame
df.to_csv("df_trans.csv", index=False, encoding='utf-8')
print("CSV exportado")
df_exploded.to_csv("genres_exploded.csv", index=False, encoding='utf-8')
print("CSV exportado")

CSV exportado
CSV exportado